body {
  background: linear-gradient(135deg, #fcbfd95a, #ffd9e6);
  font-family: "Comic Sans MS", "Trebuchet MS", sans-serif;
  text-align: center;
  min-height: 100vh;
}


h1 {
  margin-top: 40px;
}

.container {
  background: rgba(176, 88, 129, 0.585);
  display: inline-block;
  padding: 30px;
  border-radius: 25px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.15);
  margin-top: 40px;
}


#gato {
  width: 250px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

/* efeito de carinho */
#gato:hover {
  transform: scale(1.15);
}

#contador {
  margin-top: 20px;
  font-size: 22px;
}


.heart {
  position: absolute;
  font-size: 30px;
  animation: subir 3s ease forwards;
  pointer-events: none;
}

@keyframes subir {
  0% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
  100% {
    opacity: 0;
    transform: translateY(-80px) scale(1.5);
  }
}
